.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    background-color: wheat;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit {
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    font-size: 15px;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}