@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(330deg, rgba(25, 29, 209, 1) 0%, rgba(135, 45, 253, 1) 100%);
  font-family: 'Righteous', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}